@media screen and (max-width: 1200px) {


    #desktop-nav{
        display:none;
    }

    #ham-nav{
        display: flex;
        
    }
    .homecontent{
        display: block;
    }
.pfp{
    position: relative;
    left: 25%;
    top: 20%;
    height: 200px;
     width: 200px;

}

}