@media screen and (max-width: 1200px) {


    #desktop-nav{
        display:none;
    }

    #ham-nav{
        display: flex;
        
    }
    .homecontent{
        display: flex;
        justify-content: space-around;
     align-content: center;        flex-direction: column;
    }
.pfp{
    /* position: relative; */
   
    height: 250px;
     width: 250px;
     z-index: -1;

}
.info{
    position: relative; 
    right: 10%;
    bottom: 10%;
    font-size: 50px;
}

}